/*
    Copyright Sylvain Galibert 2014
    Created on : August 3, 2014, 11:29:08 PM
*/

/* RESET */
html, body, div, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, blockquote, pre, form, fieldset, table, th, td,  input, select, textarea
{
    margin: 0;
    padding: 0;
    /* forcing the box model to follow the given sizes 
     * and accommodate margin and paddings within that space
     */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;    
}

.tbl_report
{
    width: 90%; 
    margin: 10px auto; 
    padding: 5px; 
    border: 1px solid;
}
.tbl_report td
{
    margin: 0;
}
.tbl_data_cell_even
{
    background-color: rgba(249, 124, 19, 0.68);
    padding: 2px 5px;
}
.tbl_data_cell_odd
{
    padding: 2px 5px;
}
.THB
{
    text-align: right;
    padding-right: 15px;
}
#report_area
{
    min-width: 250px;
    width: 100%;
    margin:1%;
    padding: 10px;
    border: 3px darkred groove;
    -webkit-border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    border-radius: 20px 20px 20px 20px; 
    background-color: white;
    max-height: 1000px;
    overflow-y: auto;

}
#report_area h2
{
    text-align: center;
}